/* ENCABEZADO VIDEO  */
header {
  height: 100vh;
  position: relative;
  overflow: hidden;
}

header video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}


/* Header content styles */
.header-content {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
  color: white;
  width: 100%;
}

.brand-name {
  color: black;
  font-size: 4rem;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* Scroll indicator styles */
.scroll-indicator {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.chevron {
  color: black;
  position: relative;
  width: 188px;
  height: 20px;
  opacity: 0;
  transform: scale(0.3);
  animation: move-chevron 3s ease-out infinite;
}

.chevron:first-child {
  animation: move-chevron 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move-chevron 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
  content: '';
  position: absolute;
  top: 0;
  height: 100%;
  width: 50%;
  background: #000000;
}

.chevron:before {
  left: 0;
  transform: skewY(30deg);
}

.chevron:after {
  right: 0;
  width: 50%;
  transform: skewY(-30deg);
}

@keyframes move-chevron {
  25% {
      opacity: 1;
      transform: translateY(9px) scale(0.3);
  }
  75% {
      opacity: 1;
      transform: translateY(15px) scale(0.3);
  }
  100% {
      opacity: 0;
      transform: translateY(21px) scale(0.3);
  }
}
main{
  background-color: aliceblue;
}
  .menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.644);
  }
  /* Logo y animación */
  .logo-container {
    padding: 10px;
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .button-container {
    position: relative;
  }
  
  .home-button {
  font-weight: bold;
    font-size: 24px;
    padding: 10px 20px;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.5s ease;
  }
  
  .logo-split {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
  }
  
  .logo-part {
    width: 50px; /* Ajusta el tamaño si es necesario */
    opacity: 0;
    transition: all 1s ease;
  }
  
  .logo-left {
    transform: translateX(-100px);
  }
  
  .logo-right {
    transform: translateX(100px);
  }
  
  .button-container:hover .home-button {
    transform: translateY(30px);
    opacity: 0;
  }
  
  .button-container:hover .logo-left {
    transform: translateX(0);
    opacity: 1;
  }
  
  .button-container:hover .logo-right {
    transform: translateX(0);
    opacity: 1;
  }
  
  /* Navbar */
  .navbar ul {
    list-style: none;
    display: flex;
     /* Espaciado entre los elementos del menú */
  }

  .navbar a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 18px;
    transition: background-color 0.3s;
  }
  .box {
    float: left;
    transition: .3s linear;
    position: relative;
    display: block;
    overflow: hidden;
    padding: 15px;
    text-align: center;
    background: transparent;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 16px;
  }
  
  .box:before {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    height: 4px;
    width: 100%;
    border-bottom: 4px solid transparent;
    border-left: 4px solid transparent;
    box-sizing: border-box;
    transform: translateX(100%);
  }
  
  .box:after {
  
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    border-top: 4px solid transparent;
    border-right: 4px solid transparent;
    box-sizing: border-box;
    transform: translateX(-100%);
  }
  
  .box:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    color: #DD2D4A;
  }
  
  .box:hover:before {
    color: #DD2D4A;
    border-color: #DD2D4A;
    height: 100%;
    transform: translateX(0);
    transition: .2s transform linear, .2s height linear .2s;
  }
  
  .box:hover:after {
    color: #DD2D4A;
    border-color: #DD2D4A;
    height: 100%;
    transform: translateX(0);
    transition: .2s transform linear, .2s height linear .2s;
  }
  button {
    color: #DD2D4A;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    border: none;
    background: transparent;
  }

  .principal body{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}


  