*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
}
body{
    background-image:url(../assets/Logo.png);
    background-size:50%;
    background-repeat: no-repeat;
    background-position:left ;
    background-attachment:fixed; 
}

main{
    width: 100%;
    padding: 20px;
    margin: auto;
    margin-top: 200px
}

.contenedor_todo{
    width: 100%;
    max-width: 800px;
    margin: auto;
    position: relative;
}
.caja_trasera{
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    backdrop-filter: blur(5px);
    background-color: rgba(221, 45, 74, 0.5);
}

.caja_trasera div{
    margin: 100px 40px;
    color: white;
    transition: all 500ms;
}

.caja_trasera div p,
.caja_trasera div button{
    margin-top: 30px;

}

.caja_trasera div h3{
    font-weight: 400;
    font-size: 26px;
}

.caja_trasera button {
    padding: 10px 40px;
    border: 2px solid white;
    background: transparent;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    color: white;
    outline: none;
    transition:  all 300ms;
}

.caja_trasera button:hover{
    background: white;
    color: #DD2D4A;
}

/* Estilos de formularios */
.contenedor_login_registro{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 300px;
    position: relative;
    top: -185px;
    left: 10px;
    transition: left 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
}

.contenedor_login_registro form{
    width: 100%;
    padding: 80px 20px;
    background: white;
    position: absolute;
    border-radius: 20px;
    border-style:solid; 
    border-color: #DD2D4A;
    
    
}

.contenedor_login_registro form h2 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    color: #DD2D4A;
}
.contenedor_login_registro form input {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border: none;
    background: #f2f2f2;
    font-size: 16px;
    outline: none;
    
}
.contenedor_login_registro form h4{ 
    width: 100%;
    margin-top: 20px;
    color:#DD2D4A;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 600;
    
}
.contenedor_login_registro form select option{
    margin-bottom: 10px;
    font-size: 16px;
    outline: none;
    font-family: sans-serif;
}

.formulario_login input {
    display: block;
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

.boton-estilizado {
    display: inline-block;
    padding: 10px 40px;
    margin-top: 20px;
    border: none;
    font-size: 14px;
    background: #DD2D4A;
    color: white;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    outline: none;
}
.boton-estilizado{
    width: 100%;
}

.boton-estilizado:hover {
    background: white;
    color: #DD2D4A;
}

.formulario_login{ 
    opacity: 1;
    display: block;
}

.formulario_registro{
    display: none;
}
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.644);
}
  /* Logo y animación */
.logo-container {
    padding: 10px;
    position: relative;
    display: flex;
    align-items: center;
}

.button-container {
    position: relative;
}

.home-button {
font-weight: bold;
    font-size: 24px;
    padding: 10px 20px;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.logo-split {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
}

.logo-part {
    width: 50px; /* Ajusta el tamaño si es necesario */
    opacity: 0;
    transition: all 1s ease;
}

.logo-left {
    transform: translateX(-100px);
}

.logo-right {
    transform: translateX(100px);
}

.button-container:hover .home-button {
    transform: translateY(30px);
    opacity: 0;
}

.button-container:hover .logo-left {
    transform: translateX(0);
    opacity: 1;
}

.button-container:hover .logo-right {
    transform: translateX(0);
    opacity: 1;
}

  /* Navbar */
.navbar ul {
    list-style: none;
    display: flex;
     /* Espaciado entre los elementos del menú */
}

.navbar a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 18px;
    transition: background-color 0.3s;
}
.box {
    float: left;
    transition: .3s linear;
    position: relative;
    display: block;
    overflow: hidden;
    padding: 15px;
    text-align: center;
    background: transparent;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 16px;
}

.box:before {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    height: 4px;
    width: 100%;
    border-bottom: 4px solid transparent;
    border-left: 4px solid transparent;
    box-sizing: border-box;
    transform: translateX(100%);
}

.box:after {

    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    border-top: 4px solid transparent;
    border-right: 4px solid transparent;
    box-sizing: border-box;
    transform: translateX(-100%);
}

.box:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    color: #DD2D4A;
}

.box:hover:before {
    color: #DD2D4A;
    border-color: #DD2D4A;
    height: 100%;
    transform: translateX(0);
    transition: .2s transform linear, .2s height linear .2s;
}

.box:hover:after {
    color: #DD2D4A;
    border-color: #DD2D4A;
    height: 100%;
    transform: translateX(0);
    transition: .2s transform linear, .2s height linear .2s;
}
button {
    color: #DD2D4A;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    border: none;
    background: transparent;
}
