*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
}
body{
    background-image:url(../assets/Logo.png);
    background-size:50%;
    background-repeat: no-repeat;
    background-position:left ;
    background-attachment:fixed; 
}

main{
    width: 100%;
    padding: 20px;
    margin: auto;
    margin-top: 200px
}

.contenedor_todo{
    width: 100%;
    max-width: 800px;
    margin: auto;
    position: relative;
}
.caja_trasera{
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    backdrop-filter: blur(5px);
    background-color: rgba(221, 45, 74, 0.5);
}

.caja_trasera div{
    margin: 100px 40px;
    color: white;
    transition: all 500ms;
}

.caja_trasera div p,
.caja_trasera div button{
    margin-top: 30px;

}

.caja_trasera div h3{
    font-weight: 400;
    font-size: 26px;
}

.caja_trasera button {
    padding: 10px 40px;
    border: 2px solid white;
    background: transparent;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    color: white;
    outline: none;
    transition:  all 300ms;
}

.caja_trasera button:hover{
    background: white;
    color: #DD2D4A;
}

/* Estilos de formularios */
.contenedor_login_registro{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 300px;
    position: relative;
    top: -185px;
    left: 10px;
    transition: left 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
}

.contenedor_login_registro form{
    width: 100%;
    padding: 80px 20px;
    background: white;
    position: absolute;
    border-radius: 20px;
    border-style:solid; 
    border-color: #DD2D4A;
    
    
}

.contenedor_login_registro form h2 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    color: #DD2D4A;
}
.contenedor_login_registro form input {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border: none;
    background: #f2f2f2;
    font-size: 16px;
    outline: none;
    
}
.contenedor_login_registro form h4{ 
    width: 100%;
    margin-top: 20px;
    color:#DD2D4A;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 600;
    
}
.contenedor_login_registro form select option{
    margin-bottom: 10px;
    font-size: 16px;
    outline: none;
    font-family: sans-serif;
}

.contenedor_login_registro form button{
    padding: 10px 40px;
    margin-top: 20px;
    border: none;
    font-size: 14px;
    background: #DD2D4A;
    color: white;
    cursor: pointer;
    outline: none;
    width: 250px;
}
.contenedor_login_registro form button:hover {
    background: white;
    color:#DD2D4A
}

.formulario_login{ 
    opacity: 1;
    display: block;
}

.formulario_registro{
    display: none;
}