* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  list-style: none;
}
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.644);
}
/* Logo y animación */
.logo-container {
  padding-top: 10px;
  position: relative;
  display: flex;
  align-items: center;
}

.button-container {
  position: relative;
}

.home-button {
  font-weight: bold;
  font-size: 24px;
  padding: 10px 20px;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.logo-split {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
}

.logo-part {
  width: 50px; /* Ajusta el tamaño si es necesario */
  padding-top: 30px;
  opacity: 0;
  transition: all 1s ease;
}

.logo-left {
  transform: translateX(-100px);
}

.logo-right {
  transform: translateX(100px);
}

.button-container:hover .home-button {
  transform: translateY(30px);
  opacity: 0;
}

.button-container:hover .logo-left {
  transform: translateX(0);
  opacity: 1;
}

.button-container:hover .logo-right {
  transform: translateX(0);
  opacity: 1;
}

/* Navbar */
.navbar ul {
  list-style: none;
  display: flex;
  /* Espaciado entre los elementos del menú */
}

.navbar a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 18px;
  transition: background-color 0.3s;
}
.box {
  float: left;
  transition: 0.3s linear;
  position: relative;
  display: block;
  overflow: hidden;
  padding: 15px;
  text-align: center;
  background: transparent;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 16px;
}

.box:before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  height: 4px;
  width: 100%;
  border-bottom: 4px solid transparent;
  border-left: 4px solid transparent;
  box-sizing: border-box;
  transform: translateX(100%);
}

.box:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  border-top: 4px solid transparent;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  transform: translateX(-100%);
}
.box:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  color: #dd2d4a;
}
.box:hover:before {
  color: #dd2d4a;
  border-color: #dd2d4a;
  height: 100%;
  transform: translateX(0);
  transition: 0.2s transform linear, 0.2s height linear 0.2s;
}
.box:hover:after {
  color: #dd2d4a;
  border-color: #dd2d4a;
  height: 100%;
  transform: translateX(0);
  transition: 0.2s transform linear, 0.2s height linear 0.2s;
}
button {
  color: #dd2d4a;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  border: none;
  background: transparent;
}
.infoperfil {
  width: 98%;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 0.5rem;
}
.menuprincipal {
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.boton{
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
  font-family: sans-serif;
  font-size: 25px;
  width: 80%;
  height: 200px;
  border: 1px solid black;
}
.botonletra {
  text-decoration: none;
  color: black;
  font-family: sans-serif;
  font-size: 25px;
}
.info {
  background: url(../assets/pexels-sora-shimazaki-5926250-removebg-preview.png)
    center / cover no-repeat;
}
.cuenta{
  background: url(../assets/pexels-n-voitkevich-8062357-removebg-preview.png) center / cover no-repeat;
}
.datos {
  background: url(../assets/pexels-n-voitkevich-8062357-removebg-preview.png)
    center / cover no-repeat;
}
.tarje {
  background: url(../assets/pexels-goumbik-915915-removebg-preview.png) center /
    cover no-repeat;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer {
  background-color: #88bad6;
  padding: 40px 0;
}

.footer-row {
  display: flex;
  flex-wrap: wrap;
}

.link {
  width: 25%;
  padding: 0 15px;
}

.link h4 {
  font-size: 1.2rem;
  color: black;
  margin-bottom: 20px;
  font-weight: 500;
  border-bottom: 2px solid #0f6db1;
  padding-bottom: 10px;
  display: inline-block;
}

.link ul li a {
  font-size: 1 rem;
  text-decoration: none;
  color: black;
  display: block;
  margin-bottom: 15px;
  transition: color 0.3s ease, padding-left 0.3s ease;
}

.link ul li a:hover {
  color: white;
  padding-left: 6px;
}

.redes a {
  display: inline-block;
  min-width: 40px;
  background-color: #154162;
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: beige;
  transition: all 0.5s ease;
}
.redes a:hover {
  background-color: black;
  transform: translateY(-10px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}
@media (max-width: 767px) {
  .link h4 {
    font-size: 1rem;
  }
  .link ul li a {
    font-size: 1rem;
  }
}
.politicas {
  color: beige;
  background-color: #0f324b;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 5px;
  font-size: small;
}
.flecha {
  padding: 20px;
  width: 110px;
}
.contenidoinfo {
  width: 80%;
  height: 200px;
  background-color: #ffe45e;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
  justify-content: space-evenly;
}
.contenidocuenta{
  width: 80%;
  height: 200px;
  background-color: #5AA9E6;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
  justify-content: space-evenly;
}
.info1 , .cuenta1{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  gap: 3rem;
}
