body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}
.container {
    width: 90%;
    max-width: 800px;
    margin: 20px auto;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
.header img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.header div {
    flex: 1;
    margin-left: 20px;
}
.header div h1 {
    margin: 0;
    font-size: 24px;
}
.header div p {
    margin: 5px 0;
    color: green;
}
.btn-contratar {
    background: #ff5a8d;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
}
.btn-contratar:hover {
    background: #eef4ff;
    color: #333;
}
.section {
    margin-bottom: 20px;
}
.section h2 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #0f6db1;
}
.habilidades, .servicios {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.habilidad, .servicio {
    background: #eef4ff;
    padding: 10px 15px;
    border-radius: 20px;
    font-size: 14px;
}
.habilidad:hover{
    background: #e04b7b;
    color: #fff;
}
.servicio:hover{
    background: #e04b7b;
    color: #fff;
}
.reseñas {
    border-top: 1px solid #ddd;
    padding-top: 10px;
}
.reseña {
    margin-bottom: 15px;
}
.reseña strong {
    color: #444;
}
.reseña p {
    margin: 5px 0;
}
.bcontrata {
    padding: 1.3em 3em;
    font-size: 12px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}
.bcontrata:hover {
    background-color: #ff6666;
    box-shadow: 0px 15px 20px rgba(243, 47, 80, 0.4);
    color: #fff;
    transform: translateY(-7px);
}

.bcontrata:active {
    transform: translateY(-1px);
}
